<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!searchToggle" slot="secondary">
      <ion-button (click)="searchToggle = !searchToggle">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!searchToggle">Currencies</ion-title>
    <ion-searchbar
      *ngIf="searchToggle"
      class="animated fadeInDown faster p-2"
      showCancelButton="always"
      [(ngModel)]="searchTxt"
      (ionChange)="doSearch($event);"
      (ionCancel)="searchToggle = !searchToggle"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Currencies</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header> Base currency </ion-list-header>
    <ng-container *ngIf="selected">
      <app-box-currency [(item)]="selected"></app-box-currency
    ></ng-container>
    <div *ngIf="!selected">
      <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header> List currencies </ion-list-header>

    <ng-container *ngFor="let item of list">
      <app-box-currency
        *ngIf="selected && doFilted(item)"
        [item]="item"
        [selected]="selected"
        (click)="presentActionSheet(item)"
      ></app-box-currency>
    </ng-container>
  </ion-list>
</ion-content>
